@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Dancing Script", cursive;
    background-color: rgb(214, 225, 234);
    color: #333;
    text-align: center;
}

p{
    font-size: 20px;
}

a{
    color: #2e7cca;
    text-decoration: none;
    font-weight: 700;
}

a:hover{
    text-decoration: underline;
    color: #114836;
}

ul{
    list-style-type: none;
}

img.story-image{
    width: 60%;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
}